body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

button,
input {
    border: none;
    font-family: inherit;
    font-size: inherit;
    outline: none;
}

button {
    cursor: pointer;
    background-color: transparent;
}

.nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 13px;
    color: black;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.nav-link {
    opacity: 0.85;
}

.nav-link:hover {
    text-decoration: underline;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55vh;
    min-height: 300px;
    margin-top: 50px;
}

.logo {
    width: 272px;
    height: 92px;
    margin-bottom: 26px;
}

.searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 580px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 30px;
}

.material-icons {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    color: rgb(179, 177, 177);
}

.searchinput {
    width: 100%;
    height: 100%;
}

.microphoneicon {
    width: 25px;
    height: 25px;
}

.searchbuttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 30px;
  }

.searchbutton {
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f3f3f3e5;
    color: #606366;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2px;
    border: 1px solid #ddd;
    background: #f2f2f2;
    color: #70757a;
    font-size: 14px;
  }

.left-footer,
.right-footer {
    display: flex;
}

.right-footer {
    margin-right: 30px;
}

.footer-link {
    display: block;
    padding: 10px 0 10px 30px;
}

.footer-link:hover {
    text-decoration: underline;
}

